.Tnavigation {
	margin: 8px 0 16px 0;
	background: #FBFBFB;
	border-bottom: 1px solid #CCC;
}

.Tnavigation .Ttitle {
	border: none;
	padding: 2px 2px 3px 2px;
	font-family: verdana;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	background: #EEE;
}

.Tnavigation .TnavOn,
.Tnavigation .TnavOff,
.Tnavigation .TsubnavOn,
.Tnavigation .TsubnavOff,
.Tnavigation .Tsubnav2On,
.Tnavigation .Tsubnav2Off {
	display: block;
	font-size: 11px;
	font-weight: bold;
	font-family: arial;
	padding: 4px 6px;
	border-top: 1px solid #CCC;
}

.Tnavigation .TsubnavOn,
.Tnavigation .TsubnavOff {
	border: none;
	font-weight: normal;
	padding: 0px 0px 5px 8px;
	margin-left: 4px;
	background-image: url("/resources/images/bulletM.gif");
	background-repeat: no-repeat;
	position: relative;
}

.Tnavigation .Tsubnav2On,
.Tnavigation .Tsubnav2Off {
	border: none;
	font-weight: normal;
	padding: 0px 4px 4px 13px;
}

.Tnavigation .TnavOn a,
.Tnavigation .TsubnavOn a,
.Tnavigation .Tsubnav2On a {
	color: #F60;
}

.Tnavigation img {
	margin: 0 0 -2px 3px;
}



